<!DOCTYPE html>
<html>
	<head>
		<meta charset="ISO-8859-1">
		<title>KodBook Sign up</title>
		<link rel="stylesheet" type="text/css" th:href="@{/styles.css}">
	</head>
	<body>
	    <h1>KodBook!</h1>
	    <h3>Create your new account!</h3>
	    <hr>
	    <form action="/signUp" method="post">
	    	<label>USERNAME : </label>
	    	<input type="text" name="username">
	    	<br><br>
	    	
	    	<label>EMAIL : </label>
	    	<input type="email" name="email">
	    	<br><br>
	    	
	    	<label>PASSWORD : </label>
	    	<input type="password" name="password">
	    	<br><br>
	    	
	    	<label>DOB : </label>
	    	<input type="date" name="dob">
	    	<br><br>
	    	
	    	<label>GENDER : </label>
	    	<label>Male</label><input type="radio" name="gender" value = "M">
	    	<label>Female</label><input type="radio" name="gender" value = "F">
	    	<label>Other</label><input type="radio" name="gender" value = "O">
	    	<br><br>
	    	
	    	<input type="submit" value="SIGN UP">
	        <hr>
	       
	        <a href = "/">Already have an account? Login insted</a>
	    
	    </form>
	    
	</body>
</html>